# httrack files
rfc.docset/Contents/Resources/Documents/backblue.gif
rfc.docset/Contents/Resources/Documents/fade.gif
rfc.docset/Contents/Resources/Documents/hts-cache
rfc.docset/Contents/Resources/Documents/hts-log.txt
rfc.docset/Contents/Resources/Documents/index.html
