<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>rfc</string>
	<key>CFBundleName</key>
	<string>RFCs</string>
	<key>DashDocSetFamily</key>
	<string>dashtoc</string>
	<key>DocSetPlatformFamily</key>
	<string>rfc</string>
	<key>dashIndexFilePath</key>
	<string>tools.ietf.org/rfc/index.html</string>
	<key>isDashDocset</key>
	<true/>
</dict>
</plist>
